@import 'tailwindcss';

/*^--------------------------- CSS Variables ---------------------------- */
:root {
  --background: #f9f9ff;
  --foreground: #041b3c;

  /* Action Blue & Tonal Range */
  --primary: #003d9b;
  --primary-container: #0052cc;
  --secondary: #434654;
  --secondary-light: #737685;
  --surface-dark: #cdddff;
  --surface-high: #d7e2ff;
  --surface-md: #e0e8ff;
  --surface-low: #f1f3ff;
  --background: #f9f9ff;
  --secondary-background: #f0f1f5;
  --border: #f1f3ff;
  --border-dark: #004e32;
  --accent: #6b7280;

  /* Slate Neutrals */
  --slate-dark: #041b3c;
  --slate-md: #4f5f7b;
  --slate-high: #dae2ff;
  --slate-light: #c3c6d6;
  --slate-lighter: #e8edff;

  /* semantic colors */
  --success: #82f9be;
  --success-dark: #65dca4;
  --success-text: #005235;
  --green-dark: #002113;
  --error: #ba1a1a;
  --error-dark: #93000a;
  --error-background: #ffdad6;
  --warning: #ffb300;

  /* font-size */
  --heading-1: 56px;
  --heading-2: 36px;
  --heading-3: 28px;
  --heading-4: 24px;
  --heading-5: 20px;
  --heading-6: 18px;
  --body-lg: 16px;
  --body: 14px;
  --body-sm: 12px;
  --body-xs: 10px;
  --label: 11px;
  --label-xs: 8px;

  /* shadow */
  --app-shadow: 0 1px 2px 0px #0000000d;
  --form-shadow: 0 24px 48px 0 #041b3c0f;
  --form-shadow-sm: 0 24px 48px -12px #041b3c0f;
}

/*^-------------------------- tailwind theme --------------------------- */
@theme inline {
  /* Action Blue & Tonal Range */
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-surface-dark: var(--surface-dark);
  --color-surface-high: var(--surface-high);
  --color-surface-md: var(--surface-md);
  --color-surface-low: var(--surface-low);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-accent: var(--accent);

  /* Slate Neutrals */
  --color-slate-dark: var(--slate-dark);
  --color-slate-high: var(--slate-high);
  --color-slate-md: var(--slate-md);
  --color-slate-light: var(--slate-light);
  --color-slate-lighter: var(--slate-lighter);

  /* Semantic Colors */
  --color-success: var(--success);
  --color-success-dark: var(--success-dark);
  --color-success-text: var(--success-text);
  --color-green-dark: var(--green-dark);
  --color-error: var(--error);
  --color-error-dark: var(--error-dark);
  --color-error-background: var(--error-background);
  --color-warning: var(--warning);

  /* Font variables */
  --text-heading-1: var(--heading-1);
  --text-heading-2: var(--heading-2);
  --text-heading-3: var(--heading-3);
  --text-heading-4: var(--heading-4);
  --text-heading-5: var(--heading-5);
  --text-heading-6: var(--heading-6);
  --text-body-lg: var(--body-lg);
  --text-body: var(--body);
  --text-body-sm: var(--body-sm);
  --text-body-xs: var(--body-xs);
  --text-label: var(--label);
  --text-label-xs: var(--label-xs);

  /* shadow */
  --shadow-primary: var(--app-shadow);
  --shadow-form: var(--form-shadow);
  --shadow-form-sm: var(--form-shadow-sm);
}

/*^----------------------------- utilities ----------------------------- */
@utility text-display-lg {
  @apply text-heading-1 font-bold leading-14 tracking-[-2.8px];
}

@utility text-headline-lg {
  @apply text-heading-2 font-semibold leading-10 tracking-normal;
}

@utility text-title-md {
  @apply text-heading-6 font-medium leading-6.75 tracking-normal;
}

@utility text-body-md {
  @apply text-body font-normal leading-[22.75px] tracking-normal;
}

@utility text-label-sm {
  @apply text-label font-bold leading-[16.5px] tracking-[1.1px];
}

@utility primary-gradient {
  @apply bg-linear-[135deg] from-primary to-primary-container;
  color: white;
}

@utility light-gradient {
  @apply bg-linear-[135deg] from-white to-surface-low from-5% lg:from-white lg:to-white;
  color: var(--slate-dark);
}

@utility form-headline {
  @apply text-heading-3 md:text-3xl leading-9 tracking-[-0.75px] text-slate-dark font-semibold;
}

@utility letter-spacing-xs {
  @apply tracking-[-0.9px];
}

@utility letter-spacing-sm {
  @apply tracking-[-0.55px];
}

@utility letter-spacing-md {
  @apply tracking-[0.6px];
}

@utility letter-spacing-lg {
  @apply tracking-[1px];
}

@utility letter-spacing-xl {
  @apply tracking-[1.2px];
}

/*^----------------------------- base style ----------------------------- */
:root {
  font-size: 16px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-size: 0.85rem;
}

input[type='checkbox'] {
  /* Custom Check mark using SVG */
  -webkit-appearance: none;
  appearance: none;
  @apply border border-slate-light bg-surface-low size-3.5 rounded-xs;
}

input[type='checkbox']:checked {
  border: 1px solid var(--primary);
  background: url('/icons/check2.svg') var(--primary) center no-repeat;
}

/* scrollbar style */
.modal-container {
  scrollbar-width: thin;
  scrollbar-color: var(--slate-lighter) transparent;
}

.modal-container.is-scrolling {
  scrollbar-width: thin;
}

.modal-container::-webkit-scrollbar {
  width: 8px;
}

.modal-container::-webkit-scrollbar-track,
.modal-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.modal-container.is-scrolling::-webkit-scrollbar-track {
  background: transparent;
}
.modal-container.is-scrolling::-webkit-scrollbar-thumb {
  background: var(--slate-light);
}

.modal-container::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
